.PalindromeDiv{
    background-color: chartreuse;
    width: 40vw;
    margin-left: 8.4%;
}
.palindromeQuestions{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
}
.form{
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
}
.excitement{
    color:blue;
    font-weight: 500;
    font-size: large;
    text-align: center;
    margin-top: 1.5%;
}
.palin{
    color: crimson;
}
.ans{
    color:darkviolet
}
.palindromeVariable{
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 5em;
    margin-top: -1em;
    color:fuchsia;
    font-size: larger;
    font-weight: 500;
}

.playAgainButton{
    float: right;
    border-radius: 20px;
    text-align: center;
    margin-right: 4em;
    background-color: rgb(25, 22, 171);
    font-weight: 300;
    color:bisque;
    padding: 2px;
    font-size: large;
    margin-top: 1em;
    margin-bottom: 2em;
}
.GameContainer{
    background-color:rgb(100, 237, 109);
    width: 40vw;
    height: 50vh;
    float: right;
    margin-right: 8.4%;
}
.guessNumberBtn{
    background-color:deeppink;
    color:white;
    font-weight: 500;
    font-size: larger;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 20px;
}
.gameVariable{
    color:rgb(0, 234, 255);
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 5em;
    margin-top: -1.5em;
   font-weight: 700;
   background: fixed;
   color:coral;
}
.guessBtnDiv{
    text-align: center;
}
.ansDiv{
    background-color: aliceblue;
    width: fit-content;
    text-align: center;
    padding:0.5em;
}
.ansEmpty{
    display: none;
}
.HomePage{
    background-color: cyan;
    height: 100vh;
    padding:2%;
}
.HomePageButton{
    text-align: center;
    margin-bottom: 0.4%;
    margin-top: -0.5%;
}
.HomeButton{
    color: gold;
    background-color: crimson;
    font-size: large;
    margin-top: -0.5%;
}